<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>“校园跑”微信小程序后台</title>
    <link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.css}" rel="stylesheet">
    <script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js"
            th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/echarts/4.7.0/dist/echarts.js}"></script>
    <script type="text/javascript" src="asserts/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.js}"></script>
</head>
<style type="text/css">
    .myTable-container {
        width: 800px;
        height: 430px;
    }
</style>
<body>

<div class="col-lg-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slides With captions</h4>
            <!-- 选项卡菜单-->
            <ul id="myTab" class="nav nav-pills" role="tablist">
                <li class="active"><a href="#bulletin" role="tab">公告</a></li>
                <li><a href="#rule" role="tab" >规则</a></li>
                <li><a href="#forum" role="tab" >论坛</a></li>
                <li><a href="#security" role="tab" >安全</a></li>
                <li><a href="#welfare" role="tab" >公益</a></li>
            </ul>
            <!-- 选项卡面板 -->
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="bulletin">公告内容面板</div>
                <div class="tab-pane fade" id="rule">规则内容面板</div>
                <div class="tab-pane fade" id="forum">论坛内容面板</div>
                <div class="tab-pane fade" id="security">安全内容面板</div>
                <div class="tab-pane fade" id="welfare">公益内容面板</div>
            </div>
            <script>
                $(function(){
                    $("#myTab a").click(function(e){
                        e.preventDefault();
                        $(this).tab("show");
                    });
                })
            </script>
        </div>
    </div>
</div>
<script>
    var $tab1 = document.getElementById('tab1-container');
    var $tab2 = document.getElementById('tab2-container');
    var $tab3 = document.getElementById('tab3-container');

    /* 折线图 */
    var tab1Option = {
        xAxis : {
            type : 'category',
            data : [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun' ]
        },
        yAxis : {
            type : 'value'
        },
        series : [ {
            data : [ 820, 932, 901, 934, 1290, 1330, 1320 ],
            type : 'line'
        } ]
    };

    /* 饼图 */
    var tab2Option = {
        title : {
            text : '某站点用户访问来源',
            subtext : '纯属虚构',
            x : 'center'
        },
        tooltip : {
            trigger : 'item',
            formatter : "{a} <br/>{b} : {c} ({d}%)"
        },
        legend : {
            orient : 'vertical',
            left : 'left',
            data : [ '直接访问', '邮件营销', '联盟广告', '视频广告', '搜索引擎' ]
        },
        series : [ {
            name : '访问来源',
            type : 'pie',
            radius : '55%',
            center : [ '50%', '60%' ],
            data : [ {
                value : 335,
                name : '直接访问'
            }, {
                value : 310,
                name : '邮件营销'
            }, {
                value : 234,
                name : '联盟广告'
            }, {
                value : 135,
                name : '视频广告'
            }, {
                value : 1548,
                name : '搜索引擎'
            } ],
            itemStyle : {
                emphasis : {
                    shadowBlur : 10,
                    shadowOffsetX : 0,
                    shadowColor : 'rgba(0, 0, 0, 0.5)'
                }
            }
        } ]
    };

    /* 柱图  */
    var tab3Option = {
        xAxis : {
            type : 'category',
            data : [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun' ]
        },
        yAxis : {
            type : 'value'
        },
        series : [ {
            data : [ 120, 200, 150, 80, 70, 110, 130 ],
            type : 'bar'
        } ]
    };

    /* 初始化tab1的 */
    var tab1Table = echarts.init($tab1);
    tab1Table.setOption(tab1Option);

    /* shown.bs.tab为tab选项卡高亮 */
    $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
        /* 获取已激活的标签页的名称 */
        /* hash 属性是一个可读可写的字符串，该字符串是 URL 从 # 号开始的部分 */
        var activeTab = $(e.target)[0].hash;
        /* 当相应的标签被点击时，进行对应的图表渲染 */
        if (activeTab == "#tab2") {
            /* 释放图表实例，使实例不可用,不加上这个，会报错： */
            /* there is a chart instance     already initialized on the dom */
            echarts.dispose($tab2);
            var tab2Table = echarts.init($tab2);
            tab2Table.setOption(tab2Option);
        } else if (activeTab == "#tab3") {
            echarts.dispose($tab3);
            var tab3Table = echarts.init($tab3);
            tab3Table.setOption(tab3Option);
        }
    });
</script>
</body>
</html>